src/main/mule/time.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="TijdServer" doc:name="HTTP Listener config" doc:id="4a2a7789-0e64-452d-a3b6-553ce5ce0abd">
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
		<http:request-config name="TimeServer" doc:name="HTTP Request configuration" doc:id="8882dd83-ff79-4d74-aeaf-fc5ebed5cb8e">
		<http:request-connection host="localhost" port="5002" />
	</http:request-config>
	<flow name="timeFlow" doc:id="51f3e8c8-f5c3-4ee0-96b3-d0049c2a33ce" >
		<http:listener doc:name="Listener" doc:id="a50f8fea-032c-44b2-8dfc-488c7c942d0c" path="/TijdServer" config-ref="TijdServer"/>
		<set-variable value="#[attributes.queryParams.responseType]" doc:name="Set Variable" doc:id="5e3239f4-25fb-4880-9f4a-8d16bf9a79ea" variableName="responseType"/>
		<http:request method="GET" doc:name="Request" doc:id="9934eb3b-b5c1-4fd6-95f2-29c2e2144d36" path="/TimeServer" config-ref="TimeServer"/>
		<choice doc:name="Choice" doc:id="7aac2565-f0ff-42ca-a2c9-64f1758a67a7" >
						<when expression='#[vars.responseType == "xml"]'>
				<ee:transform doc:name="Transform Message" doc:id="53ccdd70-5f82-42ff-9fd4-ee533d35815e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	Tijd: {
		uur: payload.uur,
		minuut: payload.minuut,
		seconde: payload.seconde
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
		</choice>
	
</flow>
</mule>